<%- include ('../partials/header') %>

  <div class="starter-template">
    <h1>Tabuada do número <%= num %>
    </h1>
    <table class="table table-stripped table-bordered table-hover">
      <tr class="text-align:center">
        <th>Primeiro Fator</th>
        <th>Segundo Fator</th>
        <th>Resultado</th>
      </tr>
      <% tabuadas.map(item => { %>
        <tr>
          <td><%= item.num %></td>
          <td><%= item.i %></td>
          <td><%= item.resultado %></td>
        </tr>
        <% }) %>
    </table>

  </div>

  <%- include ('../partials/footer') %>